@import './common/reset.scss';
@import './common/common.scss';

#all{
    overflow: hidden;
    #banner_wrapper{
        width: 100%;
        height: 2rem;
        .swiper-container{
            width: 100%;
            height: 100%;
            .swiper-slide{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
}
#main_wrapper{
    .main_header{
        width: 100%;
        height: 0.48rem;
        display: flex;
        ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            width: 100%;
            li{
                width: 50%;
                text-align: center;
                height: 0.16rem;
                line-height: 0.16rem;
                cursor: pointer;
                color: #191a1b;
            }
            .main_header_line{
                position: absolute;
                margin: auto;
                top: 0.46rem;
                left: 0;
                width: 50%;
                .main_header_line_box{
                    width: 0.56rem;
                    border-bottom: 0.02rem solid #ff5f16;
                    border-radius: 0.2rem;
                    display: block;margin: auto;
                }
            }
        }
    }
    
}
}
