@import './common/reset.scss';
@import './common/common.scss';

#all{
    overflow: hidden;
    #banner_wrapper{
        width: 100%;
        height: 2rem;
        .swiper-container{
            width: 100%;
            height: 100%;
            .swiper-slide{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
}
#main_wrapper{
    .main_header{
        width: 100%;
        height: 0.48rem;
        display: flex;
        ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            width: 100%;
            li{
                width: 50%;
                text-align: center;
                height: 0.16rem;
                line-height: 0.16rem;
                cursor: pointer;
                color: #191a1b;
            }
            .main_header_line{
                position: absolute;
                margin: auto;
                top: 0.46rem;
                left: 0;
                width: 50%;
                .main_header_line_box{
                    width: 0.56rem;
                    border-bottom: 0.02rem solid #ff5f16;
                    border-radius: 0.2rem;
                    display: block;margin: auto;
                }
            }
        }
    }
    .main_body{
        ul{
            margin-left: 0.15rem;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            li{
                padding: 15px 15px 15px 0;
                height: 0.94rem;
                position: relative;
                a{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 100%;
                    .li-a-left{
                        height: 100%;
                        float: left;
                        img{
                            width: 0.66rem;
                            height: 100%;
                            float: left;
                        }
                    }
                    .li-a-center{
                        width: calc(100% - 1.16rem);
                        padding: 0 10px;
                        .li-a-center-frist{
                            .name{
                                color:#191a1b;
                                font-size: 0.16rem;
                                height: 0.22rem;
                                line-height: 0.22rem;
                                margin-right: 0.05rem;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;

                            }
                            .item{
                                font-size: 0.09rem;
                                color: #fff;
                                background-color: #d2d6dc;
                                height: 0.14rem;
                                line-height: 0.14rem;
                                padding: 0 0.02rem;
                                border-radius: 0.02rem;
                                box-shadow: 0 0 black;                                
                            }
                        }
                        .li-a-center-second{
                            .grade{
                                color: #ffb232;
                                font-size: 14px;                                
                            }
                            
                        }
                        .lable{
                            font-size: 0.13rem;
                            margin-top:0.04rem;
                            color: #797d82; 
                        }
                        .info-col{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 100%;
                        }    
                    }
                    .li-a-right{
                        line-height: 0.25rem;
                        height: 0.25rem;
                        width: 0.50rem;
                        color: #ff5f16;
                        font-size: 0.13rem;
                        text-align: center;
                        border-radius: 0.02rem;
                        position: relative;
                        &::after{
                            content: " ";
                            -webkit-transform: scale(.5);
                            -ms-transform: scale(.5);
                            transform: scale(.5);
                            position: absolute;
                            border: 1px solid #ff5f16;
                            top: -50%;
                            right: -50%;
                            bottom: -50%;
                            left: -50%;
                            border-radius: 0.04rem;
                        }                        
                    }
                }
            }
        }
    }
}
}
